/*Style du troisième titre */

a{
    width:60px;
    height:65px;
}
h2{
    color:red;
    text-align: left; 
    font-family: 'Open Sans';
    font-size:40px;
}


/*Style du paragraphe */

p{
    text-align: left;
    font-family: 'Open Sans';
    font-size:25px; 

}
