/*Style du logo*/
d{
    widht:60px;
    height:65px;
}
/* Style du paragraphe */

p{
    font-size:42px;
    font-family:'Open Sans';
}


/* Style de la liste non-oordonnée */
ul{
    font-size:42px;
    font-family:'Open Sans';

}
